<div class="bg-white overflow-hidden shadow rounded-lg">
  <div class="px-4 py-5 sm:p-6">
    <form
      (ngSubmit)="submit()"
      [formGroup]="form"
      class="space-y-8 divide-y divide-gray-200"
      enctype="multipart/form-data"
    >
      <div class="space-y-6 sm:space-y-5">
        <div>
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Product Information
          </h3>
          <p class="mt-1 max-w-2xl text-sm text-gray-500">
            All fields are required. Although this is just a demo, make it as
            realistic as possible.
          </p>
        </div>
        <div class="space-y-6 sm:space-y-5">
          <app-validation-alert></app-validation-alert>
          <div
            class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5"
          >
            <label
              class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"
            >
              Product Name
            </label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <input
                class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md"
                formControlName="name"
                type="text"
              />
            </div>
          </div>

          <div
            class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5"
          >
            <label
              class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"
            >
              Photo
            </label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <div class="custom-file">
                <input
                  (change)="onFileChange($event)"
                  formControlName="file"
                  type="file"
                />
                <input formControlName="image" type="hidden" />
                <img
                  *ngIf="this.form.get('image')?.value"
                  [src]="this.form.get('image')?.value"
                  alt="preview image"
                  class="w-36"
                />
              </div>
            </div>
          </div>

          <div
            class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5"
          >
            <label
              class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"
            >
              Price
            </label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <input
                class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md"
                formControlName="price"
                formControlName="price"
                type="number"
                type="number"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="pt-5">
        <div class="flex justify-end">
          <app-submit-button></app-submit-button>
        </div>
      </div>
    </form>
  </div>
</div>
